$app-green: #38b2ac;
$app-dark-green: #319795;
$app-grey: #4a5568;
$app-ligtht-grey: #edf2f7;
$app-black: black;

$app-blue: #2D54DB;
$app-blue-dark: #3158E8;

// #6425E8 #3127F2 #2D54DB #2788F2 #25B6E8